.pagination_container {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 95%;
    max-width: 500px;
    margin: auto;
    margin-top: 2em;
  
    .pagination_item {
      padding: 0 12px;
      height: 32px;
      text-align: center;
      margin: auto 4px;
      color: rgba(255, 255, 255, 0.87);
      display: flex;
      box-sizing: border-box;
      align-items: center;
      letter-spacing: 0.01071em;
      line-height: 1.43;
      font-size: 13px;
      min-width: 32px;
      font-family: "Poppins", sans-serif;
      &.dots:hover {
        background-color: transparent;
        cursor: default;
      }
      &:hover {
        background-color: rgb(0, 0, 0);
        cursor: pointer;
      }
  
      &.selected {
        background-color: rgba(0, 0, 0, 0.801);
      }
  
      .arrow {
        &::before {
          position: relative;
          /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
          content: ' ';
          /* By using an em scale, the arrows will size with the font */
          display: inline-block;
          width: 0.4em;
          height: 0.4em;
          border-right: 0.12em solid rgba(255, 255, 255, 0.87);
          border-top: 0.12em solid rgba(255, 255, 255, 0.87);
        }
  
        &.left {
          transform: rotate(-135deg) translate(-50%);
        }
  
        &.right {
          transform: rotate(45deg);
        }
      }
  
      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
  
        .arrow::before {
          border-right: 0.12em solid rgba(255, 255, 255, 0.43);
          border-top: 0.12em solid rgba(255, 255, 255, 0.43);
        }
  
        &:hover {
          background-color: transparent;
          cursor: not-allowed;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .pagination_container {
      padding: 0em;
    }
  }