@use "./util/mixins" as mix;


// Estilos del componente RestoreEmail.jsx
.container {
    @include mix.flexBox(column, center, center);
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.809);
    animation: appear 500ms ease-in;
    z-index: 200;
    & > button {
        position: absolute;
        right: 4em;
        top: 4em;
        color: #fff;
        background-color: transparent;
    }
    form {
        @include mix.flexBox(column, center, center);
        p {
            font-size: 1.5rem;
            color: #fff;
            font-family: 'Poppins', sans-serif;
        }
        span {
            font-size: 1rem;
            color: gray;
            font-family: 'Poppins', sans-serif;
        }
        input[type="email"] {
            display: block;
            margin-top: 1em;
            padding: 1em;
            color: #fff;
            font-family: 'Quicksand', sans-serif;
            width: 95%;
            max-width: 400px;
            background-color: rgba(37, 33, 33, 0.401);
            border-radius: 7px;
            &:focus {
                outline: 2px solid rgba(67, 67, 89, 0.3);
                outline-offset: 3px;
            }
        }
        button {
            display: block;
            width: 50%;
            min-width: 100px;
            max-width: 200px;
            padding: 1em;
            background-color: rgb(18, 16, 27);
            color: #fff;
            border-radius: 5px;
            margin-top: 2em;
            border: 2px solid rgba(82, 75, 75, 0.3);
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Estilos de la página [token].jsx

.page_container {
    @include mix.flexBox(column, center, center);
    width: 100vw;
    height: 100vh;
    background-image: url("/img/Login_back.svg");
    background-size: cover;
    form {
        @include mix.flexBox(column, center, center);
        width: 90%;
        max-width: 500px;
        gap: 1em;
        h1 {
            display: block;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            span {
                display: block;
                font-size: 0.9rem;
                text-align: center;
                color: gray;
            }
        }
        input[type="password"] {
            display: block;
            padding: 1em;
            width: 100%;
            background-color: rgb(23, 21, 21);
            border-radius: 6px;
            font-family: 'Quicksand', sans-serif;
        }
        input[type="submit"] {
            display: block;
            width: 95%;
            max-width: 150px;
            padding: 1em;
            background-color: #1a2127;
            border-radius: 7px;
        }
    }
}
